<!DOCTYPE html>
<html>
  <head>
      <title>Cloud Storage Downloader (Dropbox)</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
      <script src="../static/js/jquery-1.11.2.js"></script>
  </head>
  <body>
    <table>
        <tr>
            <td valign="top">
                <div id="container">
                  <div class="title">
                      <h1>File Contents</h1>
                  </div>
                  <div id="content">
                      <div id="s_path">
                          /
                      </div>
                      <div id="div_tb">
                      </div>
                  </div>
                </div>
                <div style="padding: 10%">
                    <span id="status">It will take a while to get whole list from Dropbox.</span>
                </div>
                <div style="padding: 10%;">
                    <button id="btn_connect">Connect</button>
                </div>
            </td>
            <td valign="top">
                <div id="container">
                  <div class="title">
                      <h1>Duration</h1>
                  </div>
                  <div id="content">

                      <input type="radio" id="rd_hour" name="interval" value="hour">
                      <label for="rd_hour">HOURLY</label>
                      <br>

                      <input type="radio" id="rd_day" name="interval" value="day">
                      <label for="rd_day">DAILY</label>
                      <br>

                      <input type="radio" id="rd_week" name="interval" value="week">
                      <label for="rd_week">WEEKLY</label>
                      <br>
                      <input type="button" id="btn_update_interval" value="SUBMIT"/>
                      <br>
                  </div>
                </div>
            </td>
        </tr>
    </table>
  </body>
</html>

<script type="text/javascript">

  $.get('/get_interval', function (data) {
      var filter = '[value="' + data + '"]';
      $('input:radio[name="interval"]').filter(filter).attr('checked', true);
  }, "json");

  function update_list(dir_path, dir_name) {
      $.ajax({
          url: '/get_d_dir?path=' + dir_path.replace('/', '_'),
          type: 'GET',
          success: function (response) {
              var data = JSON.parse(response);
              var t = $("#div_tb");
              var str = '';
              if (data.length == 0){
                  t.append('<h3>No data</h3>');
              }
              else{
                  t.empty();
                  str = '<table style="cursor:hand;" style="width:100%">';
                  for (var i = 0; i < data.length; i++) {
                      var path = data[i].path;
                      str += '<tr>';

                      if(data[i].active == 'true'){
                          str += '<td><input type="checkbox" checked id="' + path + '" onchange="OnCheckBox(this)"/></td>';
                      }
                      else{
                          str += '<td><input type="checkbox" id="' + path + '" onchange="OnCheckBox(this)"/></td>';
                      }
                      str += '<td>';
                      if(data[i].type == 'folder'){
                          var tmp = "update_list('" + path + "', '" + data[i].name + "')";
                          tmp = '<a onclick="' + tmp + '">' + data[i].name + '</a>';
                          str += tmp;
                      }
                      else{
                        str += '<span">' + data[i].name + '</span>';
                      }
                      str += '</td>';
                      str += '</tr>';
                  }
                  str += '</table>';
                  t.append(str);

              }
          },
          error: function (error) {
              alert(error);
          }
      });
      if(dir_path == '/'){
          $("#s_path").html('/');
      }
      else{
          var t = $("#s_path");
          t.empty();
          var tmp = "update_list('/', 'root')";
          t.append('<a onclick="' + tmp + '">root</a>/');
          var path_list = dir_path.split('/');
          var str = '';
          for (var i = 1; i < path_list.length - 1; i++) {
              var tag_name = path_list[i];
              var tag_path = '';
              for (var j = 1; j <= i; j ++){
                  tag_path += '/' + path_list[j];
              }
              tmp = "update_list('" + tag_path + "', '" + tag_name + "')";
              tmp = '<a onclick="' + tmp + '">' + tag_name + '</a>/';
              str += tmp;
          }
          str = str + dir_name + "/";
          t.append(str);
      }

  }

  $('#btn_update_interval').click(function() {
      var new_interval = $("input[name='interval']:checked").val();
      $.get('/update_interval?val=' + new_interval, function (response) {
          if (response == 'true'){
              alert('Update successfully.');
          }
          else {
              alert('Failed to update');
          }
      }, "json");
  });

  $('#btn_connect').click(function() {
      $('#status').html('Connecting to Dropbox...');
      $.get('/d_connect', function (response) {
          if (response == 'true'){
{#              alert('Connected!');#}
              update_list('/', 'root');
              $('#status').html('Succeeded to connect.');
              $('#btn_connect').hide();
          }
          else {
              $('#status').html("Failed to connect");
          }
      }, "json");
  });

  function OnCheckBox(chk_tag) {
      var new_val = chk_tag.checked;
      $.get('/update_d_item?id=' + chk_tag.id + '&val=' + new_val, function (response) {
          if (response == 'true'){
{#              alert('Succeeded to update!');#}
          }
          else {
{#              alert("Failed to update");#}
          }
      }, "json");
  }

</script>

