<!DOCTYPE html>
<html>
  <head>
      <title>Cloud Storage Downloader (Google Drive)</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
      <script src="../static/js/jquery-1.11.2.js"></script>
  </head>
  <body>
    <table>
        <tr>
            <td valign="top">
                <div id="container">
                  <div class="title">
                      <h1>File Contents</h1>
                  </div>
                  <div id="content">
                      <div id="s_path">
                          /
                      </div>
                      <div id="div_tb">
                      </div>
                  </div>
                </div>
                <div style="padding: 10%">
                    <span id="status">It will take 1~2 minutes to get whole list from Google Drive.</span>
                </div>
                <div style="padding: 10%;">
                    <button id="btn_connect">Connect</button>
                </div>
            </td>
            <td valign="top">
                <div id="container">
                  <div class="title">
                      <h1>Duration</h1>
                  </div>
                  <div id="content">

                      <input type="radio" id="rd_hour" name="interval" value="hour">
                      <label for="rd_hour">HOURLY</label>
                      <br>

                      <input type="radio" id="rd_day" name="interval" value="day">
                      <label for="rd_day">DAILY</label>
                      <br>

                      <input type="radio" id="rd_week" name="interval" value="week">
                      <label for="rd_week">WEEKLY</label>
                      <br>
                      <input type="button" id="btn_update_interval" value="SUBMIT"/>
                      <br>
                  </div>
                </div>
            </td>
        </tr>
    </table>
  </body>
</html>

<script type="text/javascript">

  $.get('/get_interval', function (data) {
      var filter = '[value="' + data + '"]';
      $('input:radio[name="interval"]').filter(filter).attr('checked', true);
  }, "json");

  function update_list(dir_id, dir_name) {
      $.ajax({
          url: '/get_g_dir?id=' + dir_id,
          type: 'GET',
          success: function (response) {
              var data = JSON.parse(response);
              var t = $("#div_tb");
              var str = '';
              if (data.length == 0){
                  t.append('<h3>No data</h3>');
              }
              else{
                  t.empty();
                  str = '<table style="cursor:hand;" style="width:100%">';
                  for (var i = 0; i < data.length; i++) {
                      str += '<tr>';

                      if(data[i].active == 'true'){
                          str += '<td><input type="checkbox" checked id="' + data[i].id + '" onchange="OnCheckBox(this)"/></td>';
                      }
                      else{
                          str += '<td><input type="checkbox" id="' + data[i].id + '" onchange="OnCheckBox(this)"/></td>';
                      }
                      str += '<td>';
                      if(data[i].type == 'folder'){
                          var tmp = "update_list('" + data[i].id + "', '" + data[i].name + "')";
                          tmp = '<a onclick="' + tmp + '">' + data[i].name + '</a>';
                          str += tmp;
                      }
                      else{
                        str += '<span">' + data[i].name + '</span>';
                      }
                      str += '</td>';
                      str += '</tr>';
                  }
                  str += '</table>';
                  t.append(str);

              }
          },
          error: function (error) {
              alert(error);
          }
      });
      if(dir_id == ''){
          $("#s_path").html('/');
      }
      else{
          $.ajax({
              url: '/get_g_parent_ids?id=' + dir_id,
              type: 'GET',
              success: function (response) {
                  var data = JSON.parse(response);
                  var t = $("#s_path");
                  t.empty();
                  var tmp = '';
                  tmp = "update_list('', 'root')";
                  t.append('<a onclick="' + tmp + '">root</a>/');
                  var str = '';
                  for (var i = 0; i < data.length; i++) {
                      tmp = "update_list('" + data[i].id + "', '" + data[i].name + "')";
                      tmp = '<a onclick="' + tmp + '">' + data[i].name + '</a>/';
                      str += tmp;
                  }
                  str = str + dir_name + "/";
                  t.append(str);
              },
              error: function (error) {
                  alert(error);
              }
          });
      }

  }

  $('#btn_update_interval').click(function() {
      var new_interval = $("input[name='interval']:checked").val();
      $.get('/update_interval?val=' + new_interval, function (response) {
          if (response == 'true'){
              alert('Update successfully.');
          }
          else {
              alert('Failed to update');
          }
      }, "json");
  });

  $('#btn_connect').click(function() {
      $('#status').html('Connecting to Google Drive...');
      $.get('/g_connect', function (response) {
          if (response == 'true'){
{#              alert('Connected!');#}
              update_list('', 'root');
              $('#status').html('Succeeded to connect.');
              $('#btn_connect').hide();
          }
          else {
              $('#status').html("Failed to connect");
          }
      }, "json");
  });

  function OnCheckBox(chk_tag) {
      var new_val = chk_tag.checked;
      $.get('/update_g_item?id=' + chk_tag.id + '&val=' + new_val, function (response) {
          if (response == 'true'){
{#              alert('Succeeded to update!');#}
          }
          else {
{#              alert("Failed to update");#}
          }
      }, "json");
  }

  function isEmail(email) {
    var regex = /^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
    return regex.test(email);
  }

</script>

