<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DropBox Setup</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="../static/js/jquery-1.11.2.js"></script>
</head>
<body>
    <div id="container">
        <div class="title">
            <h1>Dropbox Settings</h1>
        </div>
        <div style="padding: 10%">
            <form action="update_dropbox_token" method="post" enctype="multipart/form-data">
                If you need to update user credential, please fill token value and press Apply.
                <br>
                <br>
                Otherwise, please <a href="dropbox">skip</a>
                <br><br>
                <label for="txt_token">Dropbox Token</label>
                <input type="text" name="txt_token" id="txt_token"/>
                <br>
                {{ status }}
                <br>
                <input type="submit" value="Apply">
          </form>
        </div>
    </div>

</body>
</html>